.slick-slide section {
    position: relative;
}

.slick-list div {
    padding-top: 10px;
    padding-bottom: 10px;
}

.slick-slider button {
    z-index: 1;
}

.slider-wrapper {
    width: 85%;
    margin: auto;
}

.slider-wrapper h2 {
    color: white;
}
.slider-wrapper-large {
    width: 95%;
    margin: auto;
}
.slider-wrapper-large h2 {
    color: white;
}

.slick-slide {
    text-align: center;
    position: relative;
}

.slick-slide-image {
    position: relative;
    margin-right: 20px;
    max-width: 95%;
    height: auto;
    box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25),
        0 8px 16px -8px hsla(0, 0%, 0%, 0.3),
        0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
    transition: 450ms all;
}

.slick-slide-image:hover {
    transform: scale(1.1);
}
.slick-slide-image-margin {
    padding: 0 10px;
}

.slick-prev:before,
.slick-next:before {
    color: #777777;
}
